<!DOCTYPE html>
<html>
<head>
    <title>Login e Cadastro</title>
</head>
<body>
    <% $sessionID = nil %>
    <h1>
        Login
    </h1>
    <form action="/sessions" method="POST">
        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
        <input type="email" name="login[email]" placeholder="email">
        <input type="password" name="login[password]" placeholder="senha">
        <input type="submit" name="submit" class="submit">
    </form>

    <div class="errors">
        <% if flash[:login_errors]%>
            <% flash[:login_errors].each do |error| %>
                <p> <%=error%></p>
            <%end%>
        <%end%>
    </div>

    <h1>
        Cadastro
    </h1>

    <form action="/users" method="POST">
        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
        <input type="name" name="user[name]" placeholder="nome">
        <input type="email" name="user[email]" placeholder="email">
        <input type="password" name="user[password]" placeholder="senha">
        <input type="password" name="user[password_confirmation]" placeholder="confirmar senha">
        <input type="submit" name="submit" placeholder="submit">    
    </form>

    <div class="errors">
        <% if flash[:register_errors]%>
            <% flash[:register_errors].each do |error| %>
                <p> <%=error%></p>
            <%end%>
        <%end%>
    </div>

</body>
</html>