<h1>PolLab</h1>
<% if !($sessionID == nil)%>
<h4><a href=<%= "/"%>> Logout </a></h4><br>

    <h2>Create a Poll</h2>
        <%= form_with(url: "/poll", method: "post") do %>
        <%= label_tag(:title, "Title:") %>
        <%= text_field_tag(:title) %>
        <%= label_tag(:text, "Text:") %>
        <%= text_field_tag(:text) %>
        <%= label_tag(:text, "Option A:") %>
        <%= text_field_tag(:textA) %>
        <%= label_tag(:text, "Option B:") %>
        <%= text_field_tag(:textB) %>
        <%= submit_tag("Create") %>
    <% end %>
    <br>
    <h3>Your polls</h3>
    <% @polls.each do |poll| %>
        <% if (poll.user.id == $sessionID) %>
            <a href=<%= "/poll/#{poll.id}" %>><%= poll.title %></a><br>
        <% end %>
    <% end %>
    <h3>Voted polls</h3>
    <% @polls.each do |poll| %>
        <% if (poll.user.id != $sessionID && poll.votes.include?($sessionID) == true) %>
            <a href=<%= "/poll/#{poll.id}" %>><%= poll.title %></a><br>
        <% end %>
    <% end %>
    <h3>Other Polls</h3>
    <% @polls.each do |poll| %>
        <% if (poll.user.id != $sessionID && poll.votes.include?($sessionID) == false) %>
            <a href=<%= "/poll/#{poll.id}" %>><%= poll.title %></a><br>
        <% end %>
    <% end %>
<% else %>
<h2>You must Login first!</h2>
<br><a href=<%= "/"%>> Return </a>
<% end %>

