<% if !($sessionID == nil)%>
    <% createOptions(@poll.textA, @poll.textB)%>
    <h1><%= @poll.title %></h1>
    <h3><%= @poll.text %></h3><br><br>
    <% if ((@poll.user.id != $sessionID) && (@poll.votes.include?($sessionID) == true)) %> 
        <h4>You voted here</h4>
    <% end %>

    <% total = 0.0 %>
    <% @poll.options.each do |option| %>
        <% total += option.votes%>
    <% end %>
    <% @poll.options.each do |option| %>
        <%= '%.2f' %(100*option.votes/total)%>%&nbsp;-> &nbsp;<%= option.description%> : <%= option.votes%>
        <% if ((option.poll.user.id != $sessionID) && (@poll.votes.include?($sessionID) == false) && @poll.closed == false) %>      
            &nbsp;&nbsp;&nbsp; <a href=<%= "/poll/#{@poll.id}/#{option.id}"%>> Vote </a><br>
        <% else%>                                                                                
            <br>                                                                                 
        <% end %>                                                                                
    <% end %>
    <% if (@poll.closed == true)%>      
        <h3>Poll Closed!</h3>
    <% end %>
    <% if (@poll.user.id == $sessionID && @poll.closed == false)%>      
        <%= form_with(url: "/poll/#{@poll.id}", method: "post") do %>
            <%= submit_tag("Close Poll") %>
        <% end %>
    <% end %>
    <br><br><br>
    <a href=<%= "/poll"%>> Return </a>
<% else %>
<h2>You must Login first!</h2>
<br><a href=<%= "/"%>> Return </a>
<% end %>